<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.direction">
    /*設定存取權限:獲取許可權來定位*/
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/> /*允許應用程式透過Geolocation類別存取精確位置(如GPS)的資料*/
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> /*允許應用程式透過Geolocation類別存取粗略位置(如GPS)的資料*/
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/> /*允許訪問額外提供定位的指令權限*/
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>